    <!-- Footer -->
    <footer id="pq-footer">
        <div class="pq-footer-style-1">
            <div class="pq-footer-top">
                <div class="pq-footer-bottom-list">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="pq-footer-items">
                                    <div class="pq-footer-box email">
                                        <h5>{{'Send email'|translate}}</h5>
                                        <p>service&#64;djs-suiss.com</p>
                                    </div>
                                    <div class="pq-footer-logo">
                                        <img src="assets/images/logos/loader.jpg" alt="footer-logo">
                                    </div>
                                    <div class="pq-footer-box call">
                                        <h5>{{'Call now'|translate}}</h5>
                                        <a href="tel:+216 71 950 405">+216 71 950 405</a><br>
                                        <a href="tel:+216 71 950 307">+216 71 950 307</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3 col-md-6">
                            <div class="widget">
                                <h4 class="footer-title">{{'about'|translate}}</h4>
                                <p>{{'P aboutUs footer'|translate}}</p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="widget">
                                <h4 class="footer-title">{{'services'|translate}}</h4>
                                <div class="menu-service-menu-footer-container">
                                    <ul id="menu-service-menu-footer" class="menu">
                                        <li class="menu-item">
                                            <a routerLink="/services/studies">{{'Studies'|translate}}</a>
                                        </li>
                                        <li class="menu-item">
                                            <a routerLink="/services/tips">{{'Tips'|translate}}</a>
                                        </li>
                                        <li class="menu-item">
                                            <a routerLink="/services/accompanying">{{'Accompanying'|translate}}</a>
                                        </li>
                                        <li class="menu-item">
                                            <a routerLink="/services/mediation">{{'Mediation'|translate}}</a>
                                        </li>
                                        <li class="menu-item">
                                            <a routerLink="/services/arbitration">{{'Arbitration'|translate}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="widget widget-port-1">
                                <h4 class="footer-title">{{'contact'|translate}}</h4>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <ul class="pq-contact">
                                            <li>
                                                <i class="fas fa-map-marker"></i>
                                                <span>
                                            
                                                    Zürcherstrasse 139, 8406 Winterthur, Suisse
                                                </span>
                                            </li>
                                            <ul class="pq-footer-social">
                                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3  col-md-6">
                            <div class="widget">
                                <div class="pq-subscribe">
                                    <div class="pq-subscribe-details">
                                        <h4 class="footer-title">Newsletter</h4>
                                        <p>Sign up for the latest deals products news and more from us.</p>
                                    </div>
                                </div>
                                <div class="pq-subscribe-from">
                                    <form class="pq-sign-up-form">
                                        <input type="email" name="EMAIL" placeholder="Email Address" class="form-control" required="">
                                        <input class="submit" type="submit" value="Go">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pq-copyright-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <span class="pq-copyright">Copyright 2024 DJS All Rights Reserved.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer -->