<!-- Breadcrumb -->
<div class="pq-breadcrumb">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <div class="pq-breadcrumb-title">
                        <h1>{{'about'|translate}}</h1>
                    </div>
                    <div class="pq-breadcrumb-container">
                        <!-- <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a routerLink="/home"><i class="fas fa-home mr-2"></i>{{'home'|translate}}</a>
                            </li>
                            <li class="breadcrumb-item active">{{'about'|translate}}</li>
                        </ol> -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- BreadCrumb -->

<!-- Services -->
<div class="flex-sections">
    <div class="box">
        <div class="description">
            <span>A PROPOS</span>
            <p>
                Société Suisse (nationalité et siège) spécialisée dans le conseil, l'étude de marché, la médiation
                commerciale et l'arbitrage. Notre but est de garantir les opérations financières, sécuriser
                l'investissement et faciliter les échanges commerciaux sur la scène internationale.
            </p>
        </div>
        <img src="/assets/images/carousel/carousel11.jpg" alt="image">
    </div>
    <div class="box">
        <img src="/assets/images/carousel/carousel15.jpg" alt="image">
        <div class="description">
            <span>NOTRE ÉQUIPE</span>
            <p>
                Pour accomplir pleinement ses tâches, l’entreprise a choisi une équipe multidisciplinaire (Droit,
                comptabilité marketing,. . .) dotée d’une longue expérience professionnelle, d’une grande compétence et
                d’une intégrité totale.
            </p>
        </div>
    </div>
    <div class="box">
        <div class="description">
            <span>NOS SERVICES</span>
            <p>
                Etudes de marchés ,conseils ,médiations commerciales et accompagnement des hommes d’affaires dans leurs
                missions d’investissement pour garantir le succès des opérations et les entourées des suretés légales
                qui préservent les droits de toutes les parties.
            </p>
        </div>
        <img src="/assets/images/carousel/carousel13.jpg" alt="image">
    </div>
</div>

<div class="flex-sections-mobile">
    <div class="box">
        <img src="/assets/images/carousel/carousel11.jpg" alt="image">
        <div class="description">
            <span>A PROPOS</span>
            <p>
                Société Suisse (nationalité et siège) spécialisée dans le conseil, l'étude de marché, la médiation
                commerciale et l'arbitrage. Notre but est de garantir les opérations financières, sécuriser
                l'investissement et faciliter les échanges commerciaux sur la scène internationale.
            </p>
        </div>
    </div>
    <div class="box">
        <img src="/assets/images/carousel/carousel15.jpg" alt="image">
        <div class="description">
            <span>NOTRE ÉQUIPE</span>
            <p>
                Pour accomplir pleinement ses tâches, l’entreprise a choisi une équipe multidisciplinaire (Droit,
                comptabilité marketing,. . .) dotée d’une longue expérience professionnelle, d’une grande compétence et
                d'une intégrité totale.
            </p>
        </div>
    </div>
    <div class="box">
        <img src="/assets/images/carousel/carousel13.jpg" alt="image">
        <div class="description">
            <span>NOS SERVICES</span>
            <p>
                Etudes de marchés ,conseils ,médiations commerciales et accompagnement des hommes d’affaires dans leurs
                missions d’investissement pour garantir le succès des opérations et les entourées des suretés légales
                qui préservent les droits de toutes les parties.
            </p>
        </div>
    </div>
</div>