<!-- Breadcrumb -->
<div class="pq-breadcrumb">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <div class="pq-breadcrumb-title">
                        <h1>{{'Tips'|translate}}</h1>
                    </div>
                    <div class="pq-breadcrumb-container">
                        <ol class="breadcrumb" style="background-color: transparent !important;">
                            <li class="breadcrumb-item">
                                <a routerLink="/home"><i class="fas fa-home mr-2"></i>{{'home'|translate}}</a>
                            </li>
                            <li class="breadcrumb-item active">{{'Tips'|translate}}</li>
                        </ol>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- BreadCrumb -->


<!-- Service  -->
<section class="service-single" id="desktopService">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 mt-5 mt-xl-0 pq-grey-bg" *ngIf="isArabic()" [ngStyle]="{'textAlign':isArabic() ? 'right':'left'}">
                <h3 class="pq-service-single-title">{{'Tips'|translate}}</h3>
                <p class="pq-mb-45">{{'P tips'|translate}}</p>
                <div class="img">
                    <img src="/assets/images/service-single/tips.jpg">
                </div>
            </div>
            <div class="col-xl-4" >
                <div class="service-sidebar">
                    <div class="widget">
                        <div class="menu-service-menu-container">
                            <ul id="menu-service-menu" class="menu">
                                <li class="menu-item "
                                    [ngStyle]="{'textAlign':isArabic() ? 'right':'left'}">

                                    <a aria-current="page" routerLink="/services/studies">
                                        <i class="fa-solid fa-angle-right" style="position: absolute;right:4%;top: 40%;"
                                            *ngIf="!isArabic()"></i>
                                        {{'Studies'|translate}}
                                        <i class="fa-solid fa-angle-left" style="position: absolute;left:4%;top: 40%;"
                                            *ngIf="isArabic()"></i>
                                    </a>

                                </li>
                                <li class="menu-item current-menu-item" [ngStyle]="{'textAlign':isArabic() ? 'right':'left'}">
                                    <a routerLink="/services/tips">
                                        <i class="fa-solid fa-angle-right" style="position: absolute;right:4%;top: 40%;"
                                            *ngIf="!isArabic()"></i>
                                        {{'Tips'|translate}}
                                        <i class="fa-solid fa-angle-left" style="position: absolute;left:4%;top: 40%;"
                                            *ngIf="isArabic()"></i>
                                    </a>
                                </li>
                                <li class="menu-item" [ngStyle]="{'textAlign':isArabic() ? 'right':'left'}">
                                    <a routerLink="/services/accompanying">
                                        <i class="fa-solid fa-angle-right" style="position: absolute;right:4%;top: 40%;"
                                            *ngIf="!isArabic()"></i>
                                        {{'Accompanying'|translate}}
                                        <i class="fa-solid fa-angle-left" style="position: absolute;left:4%;top: 40%;"
                                            *ngIf="isArabic()"></i>
                                    </a>
                                </li>
                                <li class="menu-item" [ngStyle]="{'textAlign':isArabic() ? 'right':'left'}">
                                    <a routerLink="/services/mediation">
                                        <i class="fa-solid fa-angle-right" style="position: absolute;right:4%;top: 40%;"
                                            *ngIf="!isArabic()"></i>
                                        {{'Mediation'|translate}}
                                        <i class="fa-solid fa-angle-left" style="position: absolute;left:4%;top: 40%;"
                                            *ngIf="isArabic()"></i>
                                    </a>
                                </li>
                                <li class="menu-item" [ngStyle]="{'textAlign':isArabic() ? 'right':'left'}">
                                    <a routerLink="/services/arbitration">
                                        <i class="fa-solid fa-angle-right" style="position: absolute;right:4%;top: 40%;"
                                            *ngIf="!isArabic()"></i>
                                        {{'Arbitration'|translate}}
                                        <i class="fa-solid fa-angle-left" style="position: absolute;left:4%;top: 40%;"
                                            *ngIf="isArabic()"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xl-8 mt-5 mt-xl-0 pq-grey-bg" *ngIf="!isArabic()">
                <h3 class="pq-service-single-title">{{'Tips'|translate}}</h3>
                <p class="pq-mb-45">{{'P tips'|translate}}</p>
                <div class="img">
                    <img src="/assets/images/service-single/tips.jpg">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="service-single" id="mobileService">
    <div class="container">
        <div class="row">
            <div class="col-xl-4" >
                <div class="service-sidebar">
                    <div class="widget">
                        <div class="menu-service-menu-container">
                            <ul id="menu-service-menu" class="menu">
                                <li class="menu-item "
                                    [ngStyle]="{'textAlign':isArabic() ? 'right':'left'}">

                                    <a aria-current="page" routerLink="/services/studies">
                                        <i class="fa-solid fa-angle-right" style="position: absolute;right:4%;top: 40%;"
                                            *ngIf="!isArabic()"></i>
                                        {{'Studies'|translate}}
                                        <i class="fa-solid fa-angle-left" style="position: absolute;left:4%;top: 40%;"
                                            *ngIf="isArabic()"></i>
                                    </a>

                                </li>
                                <li class="menu-item current-menu-item" [ngStyle]="{'textAlign':isArabic() ? 'right':'left'}">
                                    <a routerLink="/services/tips">
                                        <i class="fa-solid fa-angle-right" style="position: absolute;right:4%;top: 40%;"
                                            *ngIf="!isArabic()"></i>
                                        {{'Tips'|translate}}
                                        <i class="fa-solid fa-angle-left" style="position: absolute;left:4%;top: 40%;"
                                            *ngIf="isArabic()"></i>
                                    </a>
                                </li>
                                <li class="menu-item" [ngStyle]="{'textAlign':isArabic() ? 'right':'left'}">
                                    <a routerLink="/services/accompanying">
                                        <i class="fa-solid fa-angle-right" style="position: absolute;right:4%;top: 40%;"
                                            *ngIf="!isArabic()"></i>
                                        {{'Accompanying'|translate}}
                                        <i class="fa-solid fa-angle-left" style="position: absolute;left:4%;top: 40%;"
                                            *ngIf="isArabic()"></i>
                                    </a>
                                </li>
                                <li class="menu-item" [ngStyle]="{'textAlign':isArabic() ? 'right':'left'}">
                                    <a routerLink="/services/mediation">
                                        <i class="fa-solid fa-angle-right" style="position: absolute;right:4%;top: 40%;"
                                            *ngIf="!isArabic()"></i>
                                        {{'Mediation'|translate}}
                                        <i class="fa-solid fa-angle-left" style="position: absolute;left:4%;top: 40%;"
                                            *ngIf="isArabic()"></i>
                                    </a>
                                </li>
                                <li class="menu-item" [ngStyle]="{'textAlign':isArabic() ? 'right':'left'}">
                                    <a routerLink="/services/arbitration">
                                        <i class="fa-solid fa-angle-right" style="position: absolute;right:4%;top: 40%;"
                                            *ngIf="!isArabic()"></i>
                                        {{'Arbitration'|translate}}
                                        <i class="fa-solid fa-angle-left" style="position: absolute;left:4%;top: 40%;"
                                            *ngIf="isArabic()"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xl-8 mt-5 mt-xl-0 pq-grey-bg" [ngStyle]="{'textAlign':isArabic() ? 'right':'left'}">
                <h3 class="pq-service-single-title">{{'Tips'|translate}}</h3>
                <p class="pq-mb-45">{{'P tips'|translate}}</p>
                <div class="img">
                    <img src="/assets/images/service-single/tips.jpg">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Service -->