<!-- Breadcrumb -->
<div class="pq-breadcrumb">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <div class="pq-breadcrumb-title">
                        <h1>{{'contact'|translate}}</h1>
                    </div>
                    <div class="pq-breadcrumb-container">
                        <ol class="breadcrumb" style="background-color: transparent !important;">
                            <li class="breadcrumb-item">
                                <a routerLink="/home"><i class="fas fa-home mr-2"></i>{{'home'|translate}}</a>
                            </li>
                            <li class="breadcrumb-item active">{{'contact'|translate}}</li>
                        </ol>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- BreadCrumb -->


<!-- Contact Form -->
<section class="contact-form">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="pq-section-title pq-style-1 pq-mb-20">
                    <div class="pq-section-sub-title">
                        <span class="left-sep"></span>
                        {{'contact'|translate}}
                        <span class="right-sep"></span>
                    </div>
                    <h5 class="pq-section-main-title">{{'get in touch'|translate}}</h5>
                </div>
                <div class="pq-icon-box pq-style-10 pq-mb-20">
                    <div class="pq-icon">
                        <i class="pt-flaticon-location"></i>
                    </div>
                    <div class="pq-icon-box-content">
                        <p class="pq-icon-box-description">Zürcherstrasse 139, 8406 Winterthur, Suisse</p>
                    </div>
                </div>
                <div class="pq-icon-box pq-style-10 pq-mb-20">
                    <div class="pq-icon">
                        <i class="pt-flaticon-mail"></i>
                    </div>
                    <div class="pq-icon-box-content">
                        <p class="pq-icon-box-description">service&#64;djs-suiss.com</p>
                    </div>
                </div>
                <div class="pq-icon-box pq-style-10 pq-mb-30">
                    <div class="pq-icon">
                        <i class="pt-flaticon-telephone-1"></i>
                    </div>
                    <div class="pq-icon-box-content">
                        <p class="pq-icon-box-description">+216 71 950 405 </p>
                        <p class="pq-icon-box-description">+216 71 950 307</p>
                        
                    </div>
                   
                  
                </div>
                
              
                <div class="map">
                    <iframe loading="lazy" 
                    src="https://maps.google.com/maps?q=Zurich,%20Switzerland&amp;t=m&amp;z=10&amp;output=embed&amp;iwloc=near" 
                    title="Zurich, Switzerland" 
                    aria-label="Zurich, Switzerland">
                </iframe>                   
             </div>
                <!-- <div class="map">

                    <google-map height="450px" width="600px" [zoom]="zoom" [center]="center"
                        (mapClick)="moveMap($event)" (mapMousemove)="move($event)">
                    </google-map>
                </div> -->

            </div>
            <div class="col-xl-6 mt-4 mt-xl-0 p-xl-0">
                <div class="pq-contact-form-div">
                    <h2 class="pq-contact-form-title">{{'Message With Us'|translate}}</h2>
                    <form class="contact-form" [formGroup]="userForm">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <input type="text" name="name" placeholder="{{'Full Name'|translate}}"
                                    formControlName="name">
                                <div class="text-danger"
                                    *ngIf="(userForm.controls['name'].touched || userForm.controls['name'].dirty) && userForm.controls['name'].invalid">
                                    <span *ngIf="userForm.controls['name'].errors?.['required']">{{'This is required'|translate}}</span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <input type="email" name="email" placeholder="{{'Email Address'|translate}}"
                                    formControlName="email">
                                <div class="text-danger"
                                    *ngIf="(userForm.controls['email'].touched || userForm.controls['email'].dirty) && userForm.controls['name'].invalid">
                                    <span *ngIf="userForm.controls['email'].errors?.['required']">{{'This is required'|translate}}</span>
                                    <span *ngIf="userForm.controls['email'].errors?.['email']">{{'Invalid Email'|translate}}</span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <input type="text" name="phone" placeholder="{{'Cell Phone'|translate}}"
                                    formControlName="phone">
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <input type="text" name="subject" placeholder="{{'Subject'|translate}}"
                                    formControlName="subject">
                            </div>
                            <div class="col-lg-12">
                                <textarea cols="40" rows="10" name="message" placeholder="{{'Message'|translate}}"
                                    formControlName="message"></textarea>
                            </div>
                            <div class="col-lg-12">
                                <button class="pq-button" (click)="submit()">{{'SEND'|translate}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Form -->