  <!-- Breadcrumb -->
  <div class="pq-breadcrumb">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <div class="pq-breadcrumb-title">
                        <h1>{{'Mediation'|translate}}</h1>
                    </div>
                    <div class="pq-breadcrumb-container">
                         <ol class="breadcrumb" style="background-color: transparent !important;">
                            <li class="breadcrumb-item">
                                <a routerLink="/home"><i class="fas fa-home mr-2"></i>{{'home'|translate}}</a>
                            </li>
                            <li class="breadcrumb-item active">{{'Mediation'|translate}}</li>
                        </ol> 
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- BreadCrumb -->


    <!-- Service  -->
    <section class="service-single">
        <div class="container">
            <div class="row">
                <div class="col-xl-4">
                    <div class="service-sidebar">
                        <div class="widget">
                            <div class="menu-service-menu-container">
                                <ul id="menu-service-menu" class="menu">
                                    <li class="menu-item">
                                        <a  routerLink="/services/studies">{{'Studies'|translate}}</a>
                                    </li>
                                    <li class="menu-item">
                                        <a  routerLink="/services/tips">{{'Tips'|translate}}</a>
                                    </li>
                                    <li class="menu-item">
                                        <a aria-current="page" routerLink="/services/accompanying">{{'Accompanying'|translate}}</a>
                                    </li>
                                    <li class="menu-item current-menu-item">
                                        <a routerLink="/services/mediation">{{'Mediation'|translate}}</a>
                                    </li>
                                    <li class="menu-item">
                                        <a routerLink="/services/arbitration">{{'Arbitration'|translate}}</a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                       
                    </div>
                </div>
                <div class="col-xl-8 mt-5 mt-xl-0 pq-grey-bg">
                    <h3 class="pq-service-single-title">{{'Mediation'|translate}}</h3>
                    <p class="pq-mb-45">{{'P mediation'|translate}}</p>
                    
                        
                    <div class="row align-items-center pq-mb-45">
                        <div class="col-lg-7 col-md-7">
                            <img src="/assets/images/service-single/mediation.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="col-lg-5 col-md-5 mt-4 mt-md-0 pq-ps-30">
                            <h5 class="pq-mb-20 text-center text-md-start">{{'We offer mediation in difficult conflicts in the business world'|translate}}</h5>
                            <ul class="pq-list-check">
                                <li>
                                    <i class="ion ion-checkmark"></i>
                                    <span>{{'mediation1'|translate}}</span>
                                </li>
                                <li>
                                    <i class="ion ion-checkmark"></i>
                                    <span>{{'mediation2'|translate}}</span>
                                </li>
                                <li>
                                    <i class="ion ion-checkmark"></i>
                                    <span>{{'mediation3'|translate}}</span>
                                </li>
                             
                            </ul>
                        </div>
                    </div>
                    <div class="pq-accordion-block">
                        <div class="pq-accordion-box 1 pq-active">
                            <div class="pq-ad-title">
                                <h4 class="ad-title-text">
                                    {{'mediation1'|translate}}
                                    <i aria-hidden="true" class="ion ion-plus active"></i>
                                    <i aria-hidden="true" class="ion ion-minus inactive"></i>
                                </h4>
                            </div>
                            <div class="pq-accordion-details">
                                <p class="pq-detail-text">{{'P mediation1'|translate}}</p>
                            </div>
                        </div>
                        <div class="pq-accordion-box 2">
                            <div class="pq-ad-title">
                                <h4 class="ad-title-text">
                                    {{'mediation2'|translate}}
                                    <i aria-hidden="true" class="ion ion-plus active"></i>
                                    <i aria-hidden="true" class="ion ion-minus inactive"></i>
                                </h4>
                            </div>
                            <div class="pq-accordion-details">
                                <p class="pq-detail-text">{{'P mediation2'|translate}}</p>
                            </div>
                        </div>
                        <div class="pq-accordion-box 3">
                            <div class="pq-ad-title">
                                <h4 class="ad-title-text">
                                    {{'mediation3'|translate}}
                                    <i aria-hidden="true" class="ion ion-plus active"></i>
                                    <i aria-hidden="true" class="ion ion-minus inactive"></i>
                                </h4>
                            </div>
                            <div class="pq-accordion-details">
                                <p class="pq-detail-text">{{'P mediation3'|translate}} </p>
                            </div>
                        </div>
                 
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Service -->