.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 5px;
    background-color: antiquewhite;


}

.active,
.dot:hover{
    opacity: 1;
}
.carousel .slide {
    position: relative;
  }
  
  .carousel img {
    width: 100%;
    height: auto;
  }

  .slide-logo {
    max-width: 100px;
    margin-bottom: 20px;
    animation: slideIn 1s forwards;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  .slide-content {
    margin-top: 5%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    /* background-color: rgba(0, 0, 0, 0.5); */
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    animation: fadeIn 1s ease-out;
  }
  
  .slide-content h {
    margin: 0;
    font-size: 3.5vw;
  }
  .slide-title, .slide-description {
    opacity: 0;
    animation: slideIn 1s forwards;
  }
  
  .slide-title {
    animation-delay: 0.5s;
  }
  
  .slide-description {
    animation-delay: 1s;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideIn {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .slide-content p {
    margin: 5px 0 0;
    font-size: 16px;
  }
  .t  {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-size: 3.5vw;
    color:white ;
  }
  .t1{
    font-family: "DM Serif Text", serif;
    font-weight: 200;
    font-style: italic;
    color:white ;
  }

  @media (max-width: 768px) {
    
    .t1{
        display: none;
    }
    .t{
        font-size: 5vw;
    }
    .lo{

        margin-top: 15%;
    }
  }