<div class="banner py-0">
  <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
  (init)="slickInit($event)"
                        (breakpoint)="breakpoint($event)"
  (afterChange)="afterChange($event)"
  (beforeChange)="beforeChange($event)">
    <div ngxSlickItem *ngFor="let slide of slides" class="slide">
     
      <img src="{{ slide.img }}" alt="" width="1920" height="1080" class="rev-slidebg tp-rs-img rs-lazyload lo">
      <div class="overlay"></div>
      <div  [ngClass]="act">
        <img src="assets/images/logos/12.png" style="margin-left: auto;margin-right: auto;" alt="Logo" class="slide-logo">
        <h1 class="slide-title t">Why Invest in Real Estate in Dubai</h1>
        <p class="slide-description t1">The real estate market in Dubai has consistently delivered high rental yields, with an average ROI ranging from 6-15%.</p>
      </div>
    </div>
   
  
  </ngx-slick-carousel>
</div>
<section class="about-us" >
  <div class="container"    >
      <div class="row align-items-center" data-aos="fade-up" >
        
          <div class="col-xl-6 mt-4 mt-xl-0 ps-xl-5 " data-aos="fade-right" data-aos-duration="2000">
              <div class="pq-section-title pq-style-1 pq-mb-30">
                  <div class="pq-section-sub-title">
                      <span class="left-sep" ></span>
                      about us
                      <span class="right-sep"></span>
                  </div>
                  <h5 class="pq-section-main-title" >we are the leading law firm industry</h5>
                  <p class="pq-section-description">It encompasses a wide range of principles and guidelines established by a government or other authoritative body. The primary purpose of law is to fairness, and equality in needs of the society they serve.</p>
              </div>
              <div class="row pq-mb-30">
                  <div class="col-lg-6 col-md-6 pe-xl-0">
                      <div class="pq-icon-box pq-style-1">
                          <div class="pq-icon">
                              <i class="flaticon-019-law"></i>
                          </div>
                          <div class="pq-icon-box-content">
                              <h5 class="pq-icon-box-title">free initial consultations</h5>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-6 col-md-6 mt-4 mt-md-0 ps-xl-0">
                      <div class="pq-icon-box pq-style-1">
                          <div class="pq-icon">
                              <i class="flaticon-016-agreement"></i>
                          </div>
                          <div class="pq-icon-box-content">
                              <h5 class="pq-icon-box-title">Innovative Approach</h5>
                          </div>
                      </div>
                  </div>
              </div>
              <ul class="pq-list-check pq-mb-45">
                  <li>
                      <i class="pt-flaticon-right-arrow"></i>
                      <span>Leading the Way in Legal Solutions and Client Satisfaction</span>
                  </li>
                  <li>
                      <i class="pt-flaticon-right-arrow"></i>
                      <span>Your Go-To Law Firm for Industry-Specific Legal Needs</span>
                  </li>
                  <li>
                      <i class="pt-flaticon-right-arrow"></i>
                      <span>Trusted Advisors: Leading the Legal Landscape</span>
                  </li>
              </ul>
              <a class="pq-button pq-button-flat" href="about-us.html">
                  <div class="pq-button-block">
                      <span class="pq-button-text">Read more</span>
                  </div>
              </a>
          </div>
          <div class="col-xl-6 " data-aos="fade-left" data-aos-duration="2000">
            <img src="https://images.pexels.com/photos/3184162/pexels-photo-3184162.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid w-100" alt="">
        </div>
      </div>
  </div>
</section>
<!-- About Us -->
<section class="about-us pq-bg-dark" data-aos="fade-up" data-aos-duration="3000">
  <div class="container">
    <div class="row" >
      <div class="col-xl-6 wow animated fadeInLeft">
        <div class="pq-about-us-img">
          <img src="assets/images/about-us/9.jpg" class="pq-about-us-img-3" alt="">
          <img src="assets/images/about-us/8.jpg" class="pq-about-us-img-4" alt="">
        </div>
      </div>
      <div class="col-xl-6 mt-4 mt-xl-0 pq-ps-60 wow animated fadeInRight">
        <div class="pq-section-title pq-style-1 pq-mb-30">
          <div class="pq-section-sub-title">
            <span class="left-sep"></span>
            {{'about'|translate}}
            <span class="right-sep"></span>
          </div>
          <h5 class="pq-section-main-title">Delta juridique Suisse</h5>
          <p class="pq-section-description">{{'P aboutUs'|translate}}</p>
        </div>
        <ul class="pq-list-check pq-mb-45">
          <li>
            <i class="pt-flaticon-right-arrow"></i>
            <span>{{'Market research'|translate}}</span>
          </li>
          <li>
            <i class="pt-flaticon-right-arrow"></i>
            <span>{{'Consulting and Advice'|translate}}</span>
          </li>
          <li>
            <i class="pt-flaticon-right-arrow"></i>
            <span>{{'Commercial mediations'|translate}}</span>
          </li>
          <li>
            <i class="pt-flaticon-right-arrow"></i>
            <span>{{'Accompanying businesspersons in their investment missions'|translate}}</span>
          </li>
        </ul>
        <a class="pq-button pq-button-flat" routerLink="/aboutUs">
          <div class="pq-button-block">
            <span class="pq-button-text">{{'Read more'|translate}}</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- About Us -->

<!-- Service -->
<section class="service">
  <div class="container">
    <div class="row">
      <div class="col-xl-4">
        <div class="pq-section-title pq-style-1">
          <div class="pq-section-sub-title">
            <span class="left-sep"></span>
            {{'services'|translate}}
            <span class="right-sep"></span>
          </div>
          <h5 class="pq-section-main-title">{{'services'|translate}}</h5>
        </div>
      </div>
      <div class="col-xl-8 mt-5 mt-xl-0 pq-ps-60">
        <div class="pq-service-box-6-list">
          <div class="item">
            <div class="pq-service-box pq-style-6">
              <div class="pq-service-icon">
                <i class="flaticon-003-courthouse"></i>
              </div>
              <div class="pq-service-box-title">
                <h5 class="pq-service-title">{{'studies'|translate}}</h5>
              </div>
              <p class="pq-service-description">{{'P studies'|translate}}
                appointment</p>
              <div class="pq-btn-container">
                <a class="pq-button pq-button-icon" routerLink="/services/studies">
                  <div class="pq-button-block">
                    <span class="pq-button-text"></span>
                    <i class="pt-flaticon-right-arrow"></i>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="pq-service-box pq-style-6">
              <div class="pq-service-icon">
                <i class="flaticon-009-jury"></i>
              </div>
              <div class="pq-service-box-title">
                <h5 class="pq-service-title">{{'tips'|translate}}</h5>
              </div>
              <p class="pq-service-description">{{'P tips'|translate}}
              </p>
              <div class="pq-btn-container">
                <a class="pq-button pq-button-icon" routerLink="/services/tips">
                  <div class="pq-button-block">
                    <span class="pq-button-text"></span>
                    <i class="pt-flaticon-right-arrow"></i>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="pq-service-box pq-style-6">
              <div class="pq-service-icon">
                <i class="flaticon-016-agreement"></i>
              </div>
              <div class="pq-service-box-title">
                <h5 class="pq-service-title">{{'accompanying'|translate}}</h5>
              </div>
              <p class="pq-service-description">{{'Accompanying businesspersons in their investment missions'|translate}}</p>
              <div class="pq-btn-container">
                <a class="pq-button pq-button-icon" routerLink="/services/accompanying">
                  <div class="pq-button-block">
                    <span class="pq-button-text"></span>
                    <i class="pt-flaticon-right-arrow"></i>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="pq-service-box pq-style-6">
              <div class="pq-service-icon">
                <i class="flaticon-021-gavel"></i>
              </div>
              <div class="pq-service-box-title">
                <h5 class="pq-service-title">{{'mediation'|translate}}</h5>
              </div>
              <p class="pq-service-description">{{'P mediation'|translate}}</p>
              <div class="pq-btn-container">
                <a class="pq-button pq-button-icon" routerLink="/services/mediation">
                  <div class="pq-button-block">
                    <span class="pq-button-text"></span>
                    <i class="pt-flaticon-right-arrow"></i>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="pq-service-box pq-style-6">
              <div class="pq-service-icon">
                <i class="flaticon-016-agreement"></i>
              </div>
              <div class="pq-service-box-title">
                <h5 class="pq-service-title">{{'arbitration'|translate}}</h5>
              </div>
              <p class="pq-service-description">{{'P arbitration'|translate}}</p>
              <div class="pq-btn-container">
                <a class="pq-button pq-button-icon" routerLink="/services/arbitration">
                  <div class="pq-button-block">
                    <span class="pq-button-text"></span>
                    <i class="pt-flaticon-right-arrow"></i>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Service -->

