<!-- <div class="banner py-0">
  <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
  (init)="slickInit($event)"
                        (breakpoint)="breakpoint($event)"
  (afterChange)="afterChange($event)"
  (beforeChange)="beforeChange($event)">
    <div ngxSlickItem *ngFor="let slide of slides" class="slide">
     
      <img src="{{ slide.img }}" alt="" width="1920" height="1080" class="rev-slidebg tp-rs-img rs-lazyload lo">
      <div class="overlay"></div>
      <div  [ngClass]="act">
        <img src="assets/images/logos/12.png" style="margin-left: auto;margin-right: auto;" alt="Logo" class="slide-logo">
        <h1 class="slide-title t">Why Invest in Real Estate in Dubai</h1>
        <p class="slide-description t1">The real estate market in Dubai has consistently delivered high rental yields, with an average ROI ranging from 6-15%.</p>
      </div>
    </div>
   
  
  </ngx-slick-carousel>
</div> -->
<div class="custom-slider">
  <div class="ctn-slider">
    <div class="cs-custom-slider">
      <div *ngFor="let slide of slides,let index=index" [id]="'cs-slide-'+index" class="cs-slide">

        <img src="{{ slide.img }}" alt="" width="1920" height="1080" class="">
        <div class="content">
          <img src="assets/images/logBlanc.png" alt="Logo" class="slide-logo">
          <h1 class="slide-title">{{slide.title|translate}}</h1>
          <p class="slide-description ">{{slide.description|translate}}</p>
        </div>
      </div>
    </div>
    <div class="dots">
      <div *ngFor="let slide of slides, let index = index" (click)="showActivatedSlide(index)"
        [class]="index === activeSlide ? 'active':''"></div>
    </div>
  </div>
</div>
<div class="custom-slider-mobile">
  <div class="ctn-slider">
    <div class="cs-custom-slider-mobile">
      <div *ngFor="let slide of slides,let index=index" [id]="'cs-slide-mobile-'+index" class="cs-slide">

        <img src="{{ slide.img }}" alt="" width="1920" height="1080" class="">
        <div class="content">
          <img src="assets/images/logBlanc.png" alt="Logo" class="slide-logo">
          <h1 class="slide-title">{{slide.title|translate}} </h1>
          <p class="slide-description ">{{slide.description|translate}}</p>
        </div>
      </div>
    </div>
    <div class="dots">
      <div *ngFor="let slide of slides, let index = index" (click)="showActivatedSlide(index)"
        [class]="index === activeSlide ? 'active':''"></div>
    </div>
  </div>
</div>
<section class="about-us" id="aboutDesktop"> 
  <div class="container">
    <div class="row align-items-center" data-aos="fade-up">
      <div class="col-xl-6 " [ngStyle]="{'display':isArabic() ? 'block':'none'}">
        <img
          src="https://images.pexels.com/photos/3184162/pexels-photo-3184162.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          class="img-fluid w-100" alt="">
      </div>
      <div class="col-xl-6 mt-4 mt-xl-0 ps-xl-5 " [ngStyle]="{'textAlign':isArabic() ? 'right':'left'}">
        <div class="pq-section-title pq-style-1 pq-mb-30">
          <div class="pq-section-sub-title">
            <span class="left-sep"></span>
            {{'aboutUs'|translate}}
          </div>
          <!--<h5 class="pq-section-main-title">Delta juridique Suisse</h5>-->
          <p class="pq-section-description">{{'P aboutUs'|translate}}</p>
        </div>
        <div class="row pq-mb-30">
          <div class="col-lg-6 col-md-6 pe-xl-0">
            <div class="pq-icon-box pq-style-1" [ngStyle]="{'justifyContent':isArabic() ? 'right':'left'}">
              <div class="pq-icon" [ngStyle]="{'display':isArabic() ? 'none':'block'}">
                <i class="flaticon-019-law"></i>
              </div>
              <div class="pq-icon-box-content">
                <h5 class="pq-icon-box-title">{{'free initial consultation'|translate}}</h5>
              </div>
              <div class="pq-icon" [ngStyle]="{'display':isArabic() ? 'block':'none'}">
                <i class="flaticon-019-law"></i>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 mt-4 mt-md-0 ps-xl-0">
            <div class="pq-icon-box pq-style-1" [ngStyle]="{'justifyContent':isArabic() ? 'right':'left'}">
              <div class="pq-icon" [ngStyle]="{'display':isArabic() ? 'none':'block'}">
                <i class="flaticon-016-agreement"></i>
              </div>
              <div class="pq-icon-box-content">
                <h5 class="pq-icon-box-title">{{'Innovative Approach'|translate}}</h5>
              </div>
              <div class="pq-icon" [ngStyle]="{'display':isArabic() ? 'block':'none'}">

                <i class="flaticon-016-agreement"></i>
              </div>
            </div>
          </div>
        </div>
        <div style="display: flex;" [ngStyle]="{'justifyContent':isArabic() ? 'right':'left'}">
          <ul class="pq-list-check pq-mb-45">
            <li style="display: flex;align-items: flex-start;"
              [ngStyle]="{'justifyContent':isArabic() ? 'right':'left'}">
              <i class="pt-flaticon-right-arrow" [ngStyle]="{'display':isArabic() ? 'none':'block'}"></i>
              <span>{{'Market research'|translate}}</span>
              <i class="pt-flaticon-right-arrow" [ngStyle]="{'display':isArabic() ? 'block':'none'}"></i>
            </li>
            <li style="display: flex;align-items: flex-start;"
              [ngStyle]="{'justifyContent':isArabic() ? 'right':'left'}">
              <i class="pt-flaticon-right-arrow" [ngStyle]="{'display':isArabic() ? 'none':'block'}"></i>
              <span>{{'Consulting and Advice'|translate}}</span>
              <i class="pt-flaticon-right-arrow" [ngStyle]="{'display':isArabic() ? 'block':'none'}"></i>
            </li>
            <li style="display: flex;align-items: flex-start;"
              [ngStyle]="{'justifyContent':isArabic() ? 'right':'left'}">
              <i class="pt-flaticon-right-arrow" [ngStyle]="{'display':isArabic() ? 'none':'block'}"></i>
              <span>{{'Commercial mediations'|translate}}</span>
              <i class="pt-flaticon-right-arrow" [ngStyle]="{'display':isArabic() ? 'block':'none'}"></i>
            </li>
            <li style="display: flex;align-items: flex-start;"
              [ngStyle]="{'justifyContent':isArabic() ? 'right':'left'}">
              <i class="pt-flaticon-right-arrow" [ngStyle]="{'display':isArabic() ? 'none':'block'}"></i>
              <span>{{'Accompanying businesspersons in their investment missions'|translate}}</span>
              <i class="pt-flaticon-right-arrow" [ngStyle]="{'display':isArabic() ? 'block':'none'}"></i>
            </li>
          </ul>
        </div>
        <a class="pq-button pq-button-flat" routerLink="/aboutUs">
          <div class="pq-button-block">
            <span class="pq-button-text">{{'Read more'|translate}}</span>
          </div>
        </a>
      </div>
      <div class="col-xl-6 " [ngStyle]="{'display':isArabic() ? 'none':'block'}">
        <img
          src="https://images.pexels.com/photos/3184162/pexels-photo-3184162.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          class="img-fluid w-100" alt="">
      </div>
    </div>
  </div>
</section>

<section class="about-us" id="aboutMobile"> 
  <div class="container">
    <div class="row align-items-center" data-aos="fade-up">
      <div class="col-xl-6 ">
        <img
          src="https://images.pexels.com/photos/3184162/pexels-photo-3184162.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          class="img-fluid w-100" alt="">
      </div>
      <div class="col-xl-6 mt-4 mt-xl-0 ps-xl-5 " [ngStyle]="{'textAlign':isArabic() ? 'right':'left'}">
        <div class="pq-section-title pq-style-1 pq-mb-30">
          <div class="pq-section-sub-title">
            <span class="left-sep"></span>
            {{'aboutUs'|translate}}
          </div>
          <!--<h5 class="pq-section-main-title">Delta juridique Suisse</h5>-->
          <p class="pq-section-description">{{'P aboutUs'|translate}}</p>
        </div>
        <div class="row pq-mb-30">
          <div class="col-lg-6 col-md-6 pe-xl-0">
            <div class="pq-icon-box pq-style-1" [ngStyle]="{'justifyContent':isArabic() ? 'right':'left'}">
              <div class="pq-icon" [ngStyle]="{'display':isArabic() ? 'none':'block'}">
                <i class="flaticon-019-law"></i>
              </div>
              <div class="pq-icon-box-content">
                <h5 class="pq-icon-box-title">{{'free initial consultation'|translate}}</h5>
              </div>
              <div class="pq-icon" [ngStyle]="{'display':isArabic() ? 'block':'none'}">
                <i class="flaticon-019-law"></i>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 mt-4 mt-md-0 ps-xl-0">
            <div class="pq-icon-box pq-style-1" [ngStyle]="{'justifyContent':isArabic() ? 'right':'left'}">
              <div class="pq-icon" [ngStyle]="{'display':isArabic() ? 'none':'block'}">
                <i class="flaticon-016-agreement"></i>
              </div>
              <div class="pq-icon-box-content">
                <h5 class="pq-icon-box-title">{{'Innovative Approach'|translate}}</h5>
              </div>
              <div class="pq-icon" [ngStyle]="{'display':isArabic() ? 'block':'none'}">

                <i class="flaticon-016-agreement"></i>
              </div>
            </div>
          </div>
        </div>
        <div style="display: flex;" [ngStyle]="{'justifyContent':isArabic() ? 'right':'left'}">
          <ul class="pq-list-check pq-mb-45">
            <li style="display: flex;align-items: flex-start;"
              [ngStyle]="{'justifyContent':isArabic() ? 'right':'left'}">
              <i class="pt-flaticon-right-arrow" [ngStyle]="{'display':isArabic() ? 'none':'block'}"></i>
              <span>{{'Market research'|translate}}</span>
              <i class="pt-flaticon-right-arrow" [ngStyle]="{'display':isArabic() ? 'block':'none'}"></i>
            </li>
            <li style="display: flex;align-items: flex-start;"
              [ngStyle]="{'justifyContent':isArabic() ? 'right':'left'}">
              <i class="pt-flaticon-right-arrow" [ngStyle]="{'display':isArabic() ? 'none':'block'}"></i>
              <span>{{'Consulting and Advice'|translate}}</span>
              <i class="pt-flaticon-right-arrow" [ngStyle]="{'display':isArabic() ? 'block':'none'}"></i>
            </li>
            <li style="display: flex;align-items: flex-start;"
              [ngStyle]="{'justifyContent':isArabic() ? 'right':'left'}">
              <i class="pt-flaticon-right-arrow" [ngStyle]="{'display':isArabic() ? 'none':'block'}"></i>
              <span>{{'Commercial mediations'|translate}}</span>
              <i class="pt-flaticon-right-arrow" [ngStyle]="{'display':isArabic() ? 'block':'none'}"></i>
            </li>
            <li style="display: flex;align-items: flex-start;"
              [ngStyle]="{'justifyContent':isArabic() ? 'right':'left'}">
              <i class="pt-flaticon-right-arrow" [ngStyle]="{'display':isArabic() ? 'none':'block'}"></i>
              <span>{{'Accompanying businesspersons in their investment missions'|translate}}</span>
              <i class="pt-flaticon-right-arrow" [ngStyle]="{'display':isArabic() ? 'block':'none'}"></i>
            </li>
          </ul>
        </div>
        <a class="pq-button pq-button-flat" routerLink="/aboutUs">
          <div class="pq-button-block">
            <span class="pq-button-text">{{'Read more'|translate}}</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- secteur activite -->
<section class="about-us pq-bg-dark" data-aos="fade-up" data-aos-duration="3000">
  <div class="container">
    <div class="row">

      <div class="col-xl-6 wow animated fadeInRight" [ngStyle]="{'display':isArabic() ? 'block':'none'}">
        <div class="pq-about-us-img">
          <img src="assets/images/about-us/9.jpg" class="pq-about-us-img-3" alt="">
          <img src="assets/images/about-us/8.jpg" class="pq-about-us-img-4" alt="">
        </div>
      </div>

      <div class="col-xl-6 mt-4 mt-xl-0 pq-ps-60 wow animated fadeInLeft" [ngStyle]="{'textAlign':isArabic() ? 'right':'left'}">
        <div class="pq-section-title pq-style-1 pq-mb-30">
          <div class="pq-section-sub-title">
            <span class="left-sep"></span>
            {{'Secteur_activite'|translate}}
            <span class="right-sep"></span>
          </div>
          <p class="pq-section-description">{{'P secteur_activite'|translate}}</p>
          <br>
          <div class="pq-section-sub-title">
            <span class="left-sep"></span>
            {{'Our goal'|translate}}
            <span class="right-sep"></span>
          </div>
          <p class="pq-section-description">{{'P Our goal'|translate}}</p>
        </div>

        <a class="pq-button pq-button-flat" routerLink="/services/studies">
          <div class="pq-button-block">
            <span class="pq-button-text">{{'Read more'|translate}}</span>
          </div>
        </a>
      </div>

      <div class="col-xl-6 wow animated fadeInRight" [ngStyle]="{'display':isArabic() ? 'none':'block'}">
        <div class="pq-about-us-img">
          <img src="assets/images/about-us/9.jpg" class="pq-about-us-img-3" alt="">
          <img src="assets/images/about-us/8.jpg" class="pq-about-us-img-4" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- secteur activite -->

<!-- Service -->
<section class="service" id="desktopSection">
  <div class="container">
    <div class="row">
      <div class="col-xl-4" *ngIf="!isArabic()" >
        <div class="pq-section-title pq-style-1">
          <div class="pq-section-sub-title">
            <span class="left-sep"></span>
            {{'services'|translate}}
            <span class="right-sep"></span>
          </div>
          <h5 class="pq-section-main-title">{{'services'|translate}}</h5>
        </div>
      </div>
      <div class="col-xl-8 mt-5 mt-xl-0 pq-ps-60">
        <div class="pq-service-box-6-list">
          <div class="item">
            <div class="pq-service-box pq-style-6">
              <div class="pq-service-icon">
                <i class="flaticon-030-advice"></i>
              </div>
              <div class="pq-service-box-title">
                <h5 class="pq-service-title">{{'Studies'|translate}}</h5>
              </div>
              <p class="pq-service-description">{{'P studies'|translate}}
              </p>
              <div class="pq-btn-container">
                <a class="pq-button pq-button-icon" routerLink="/services/studies">
                  <div class="pq-button-block">
                    <span class="pq-button-text"></span>
                    <i class="pt-flaticon-right-arrow"></i>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="pq-service-box pq-style-6">
              <div class="pq-service-icon">
                <i class="flaticon-009-jury"></i>
              </div>
              <div class="pq-service-box-title">
                <h5 class="pq-service-title">{{'Tips'|translate}}</h5>
              </div>
              <p class="pq-service-description">{{'P tips'|translate}}
              </p>
              <div class="pq-btn-container">
                <a class="pq-button pq-button-icon" routerLink="/services/tips">
                  <div class="pq-button-block">
                    <span class="pq-button-text"></span>
                    <i class="pt-flaticon-right-arrow"></i>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="pq-service-box pq-style-6">
              <div class="pq-service-icon">
                <i class="flaticon-016-agreement"></i>
              </div>
              <div class="pq-service-box-title">
                <h5 class="pq-service-title">{{'Accompanying'|translate}}</h5>
              </div>
              <p class="pq-service-description">{{'P Accompanying'|translate}}</p>
              <div class="pq-btn-container">
                <a class="pq-button pq-button-icon" routerLink="/services/accompanying">
                  <div class="pq-button-block">
                    <span class="pq-button-text"></span>
                    <i class="pt-flaticon-right-arrow"></i>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="pq-service-box pq-style-6">
              <div class="pq-service-icon">
                <i class="flaticon-021-gavel"></i>
              </div>
              <div class="pq-service-box-title">
                <h5 class="pq-service-title">{{'Mediation'|translate}}</h5>
              </div>
              <p class="pq-service-description">{{'P mediation'|translate}}</p>
              <div class="pq-btn-container">
                <a class="pq-button pq-button-icon" routerLink="/services/mediation">
                  <div class="pq-button-block">
                    <span class="pq-button-text"></span>
                    <i class="pt-flaticon-right-arrow"></i>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="pq-service-box pq-style-6">
              <div class="pq-service-icon">
                <i class="flaticon-007-lawyer"></i>
              </div>
              <div class="pq-service-box-title">
                <h5 class="pq-service-title">{{'Arbitration'|translate}}</h5>
              </div>
              <p class="pq-service-description">{{'P arbitration'|translate}}</p>
              <div class="pq-btn-container">
                <a class="pq-button pq-button-icon" routerLink="/services/arbitration">
                  <div class="pq-button-block">
                    <span class="pq-button-text"></span>
                    <i class="pt-flaticon-right-arrow"></i>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4" *ngIf="isArabic()" >
        <div class="pq-section-title pq-style-1" style="text-align: right;">
          <div class="pq-section-sub-title">
            <span class="left-sep"></span>
            {{'services'|translate}}
            <span class="right-sep"></span>
          </div>
          <h5 class="pq-section-main-title">{{'services'|translate}}</h5>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="service" id="mobileSection">
  <div class="container">
    <div class="row">
      <div class="col-xl-4" [ngStyle]="{'textAlign':isArabic() ? 'right':'left'}">
        <div class="pq-section-title pq-style-1">
          <div class="pq-section-sub-title">
            <span class="left-sep"></span>
            {{'services'|translate}}
            <span class="right-sep"></span>
          </div>
          <h5 class="pq-section-main-title">{{'services'|translate}}</h5>
        </div>
      </div>
      <div class="col-xl-8 mt-5 mt-xl-0 pq-ps-60" [ngStyle]="{'textAlign':isArabic() ? 'right':'left'}">
        <div class="pq-service-box-6-list">
          <div class="item">
            <div class="pq-service-box pq-style-6">
              <div class="pq-service-icon">
                <i class="flaticon-030-advice"></i>
              </div>
              <div class="pq-service-box-title">
                <h5 class="pq-service-title">{{'Studies'|translate}}</h5>
              </div>
              <p class="pq-service-description">{{'P studies'|translate}}
              </p>
              <div class="pq-btn-container">
                <a class="pq-button pq-button-icon" routerLink="/services/studies">
                  <div class="pq-button-block">
                    <span class="pq-button-text"></span>
                    <i class="pt-flaticon-right-arrow"></i>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="pq-service-box pq-style-6">
              <div class="pq-service-icon">
                <i class="flaticon-009-jury"></i>
              </div>
              <div class="pq-service-box-title">
                <h5 class="pq-service-title">{{'Tips'|translate}}</h5>
              </div>
              <p class="pq-service-description">{{'P tips'|translate}}
              </p>
              <div class="pq-btn-container">
                <a class="pq-button pq-button-icon" routerLink="/services/tips">
                  <div class="pq-button-block">
                    <span class="pq-button-text"></span>
                    <i class="pt-flaticon-right-arrow"></i>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="pq-service-box pq-style-6">
              <div class="pq-service-icon">
                <i class="flaticon-016-agreement"></i>
              </div>
              <div class="pq-service-box-title">
                <h5 class="pq-service-title">{{'Accompanying'|translate}}</h5>
              </div>
              <p class="pq-service-description">{{'P Accompanying'|translate}}</p>
              <div class="pq-btn-container">
                <a class="pq-button pq-button-icon" routerLink="/services/accompanying">
                  <div class="pq-button-block">
                    <span class="pq-button-text"></span>
                    <i class="pt-flaticon-right-arrow"></i>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="pq-service-box pq-style-6">
              <div class="pq-service-icon">
                <i class="flaticon-021-gavel"></i>
              </div>
              <div class="pq-service-box-title">
                <h5 class="pq-service-title">{{'Mediation'|translate}}</h5>
              </div>
              <p class="pq-service-description">{{'P mediation'|translate}}</p>
              <div class="pq-btn-container">
                <a class="pq-button pq-button-icon" routerLink="/services/mediation">
                  <div class="pq-button-block">
                    <span class="pq-button-text"></span>
                    <i class="pt-flaticon-right-arrow"></i>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="pq-service-box pq-style-6">
              <div class="pq-service-icon">
                <i class="flaticon-007-lawyer"></i>
              </div>
              <div class="pq-service-box-title">
                <h5 class="pq-service-title">{{'Arbitration'|translate}}</h5>
              </div>
              <p class="pq-service-description">{{'P arbitration'|translate}}</p>
              <div class="pq-btn-container">
                <a class="pq-button pq-button-icon" routerLink="/services/arbitration">
                  <div class="pq-button-block">
                    <span class="pq-button-text"></span>
                    <i class="pt-flaticon-right-arrow"></i>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Service -->